
<div class="row">
	<div class="container center-content"
		style="padding-left: 0px; padding-right: 0px;">

		<!--Menu-->
		<div class="menu-container">
			<div class="menu">
				<ul>
					<li><a href="#"> Home </a></li>
					
					<li><a href="#"> Industry sectors</a>
						<ul>

							<li><a href="#"></a>
								<ul>

									<li><a href="#">Aerospace &amp; defence</a></li>

									<li><a href="#">Asset &amp; wealth management</a></li>

									<li><a href="#">Automotive</a></li>

									<li><a href="#">Banking &amp; capital markets</a></li>

									<li><a href="#">Capital projects &amp; infrastructure</a></li>

									<li><a href="#">Chemicals</a></li>

									<li><a href="#">Communications</a></li>

									<li><a href="#">Energy, utilities &amp; mining</a></li>

								</ul></li>

							<li><a href="#"></a>
								<ul>

									<li><a href="#">Engineering &amp; construction</a></li>

									<li><a href="#">Entertainment &amp; media</a></li>

									<li><a href="#">Financial services</a></li>

									<li><a href="#">Forest, paper &amp; packaging</a></li>

									<li><a href="#">Government and public services</a></li>

									<li><a href="#">Healthcare</a></li>

									<li><a href="#">Hospitality &amp; leisure</a></li>

									<li><a href="#">Industrial manufacturing</a></li>

								</ul></li>

							<li><a href="#"></a>
								<ul>

									<li><a href="#">Insurance</a></li>

									<li><a href="#">Metals</a></li>

									<li><a href="#">Pharmaceuticals &amp; life sciences</a></li>

									<li><a href="#">Private equity</a></li>

									<li><a href="#">Real estate</a></li>

									<li><a href="#">Retail &amp; consumer</a></li>

									<li><a href="#">Sovereign wealth funds</a></li>

									<li><a href="#">Technology</a></li>

									<li><a href="#">Transportation &amp; logistics</a></li>

								</ul></li>

						</ul></li>
					<li><a href="#"> Today's issues</a>
						<ul>
							<li><a href="#"></a>
								<ul>
									<li><a href="#">Global megatrends</a></li>
									<li><a href="#">Customers</a></li>
									<li><a href="#">Cybersecurity</a></li>
									<li><a href="#">Data and analytics</a></li>
									<li><a href="#">Governance</a></li>
								</ul></li>
							<li><a href="#"></a>
								<ul>
									<li><a href="#">Innovation</a></li>
									<li><a href="#">Operations</a></li>
									<li><a href="#">Regulation</a></li>
									<li><a href="#">Risk</a></li>
									<li><a href="#">Strategy</a></li>
								</ul></li>
							<li><a href="#"></a>
								<ul>
									<li><a href="#">Sustainability</a></li>
									<li><a href="#">Talent</a></li>
									<li><a href="#">Technology</a></li>
									<li><a href="#">The economy</a></li>
									<li><a href="#">Trust</a></li>
								</ul></li>
						</ul></li>
					<li><a href="#"> Our services</a>
						<ul>

							<li><a href="#"></a>
								<ul>
									<li><a href="#">Advisory</a></li>
									<li><a href="#">Audit and assurance</a></li>
									<li><a href="#">Entrepreneurial and private clients</a></li>
									<li><a href="#">Family business</a></li>
									<li><a href="#">IFRS</a></li>
								</ul></li>
							<li><a href="#"></a>
								<ul>
									<li><a href="#">Legal</a></li>
									<li><a href="#">People and organisation</a></li>
									<li><a href="#">Sustainability & climate change</a></li>
									<li><a href="#">Tax</a></li>
								</ul></li>
						</ul></li>
					<li><a href="#"> About us</a></li>
					<li><a href="#"> Research & insights</a></li>
					<li><a href="#"> Careers </a></li>
					<li><a href="#"> Press room</a></li>
				</ul>


			</div>
		</div>

		<!-- Slideshow -->

		<div id="da-slider" class="da-slider">
			<div class="da-slide">
				<h2>Easy management</h2>
				<p>Far far away, behind the word mountains, far from the
					countries Vokalia and Consonantia, there live the blind texts.
					Separated they live in Bookmarksgrove right at the coast of the
					Semantics, a large language ocean.</p>
				<a href="#" class="da-link">Read more</a>
				<div class="da-img hidden-xs">
					<img src="app/slide/images/2.png" alt="image01" />
				</div>
			</div>
			<div class="da-slide">
				<h2>Revolution</h2>
				<p>A small river named Duden flows by their place and supplies
					it with the necessary regelialia. It is a paradisematic country, in
					which roasted parts of sentences fly into your mouth.</p>
				<a href="#" class="da-link">Read more</a>
				<div class="da-img hidden-xs">
					<img src="app/slide/images/3.png" alt="image01" />
				</div>
			</div>
			<div class="da-slide">
				<h2>Warm welcome</h2>
				<p>When she reached the first hills of the Italic Mountains, she
					had a last view back on the skyline of her hometown Bookmarksgrove,
					the headline of Alphabet Village and the subline of her own road,
					the Line Lane.</p>
				<a href="#" class="da-link">Read more</a>
				<div class="da-img hidden-xs">
					<img src="app/slide/images/1.png" alt="image01" />
				</div>
			</div>
			<div class="da-slide">
				<h2>Quality Control</h2>
				<p>Even the all-powerful Pointing has no control about the blind
					texts it is an almost unorthographic life One day however a small
					line of blind text by the name of Lorem Ipsum decided to leave for
					the far World of Grammar.</p>
				<a href="#" class="da-link">Read more</a>
				<div class="da-img hidden-xs">
					<img src="app/slide/images/4.png" alt="image01" />
				</div>
			</div>
			<nav class="da-arrows">
				<span class="da-arrows-prev"></span> <span class="da-arrows-next"></span>
			</nav>
		</div>

	</div>
</div>
<script type="text/javascript">
        $(function() {
        
            $('#da-slider').cslider({
                autoplay	: true,
                bgincrement	: 450
            });
        
        });
    </script>
<script type="text/javascript">
	/*global $ */
	$(document).ready(function() {

	  "use strict";

	  $('.menu > ul > li:has( > ul)').addClass('menu-dropdown-icon');
	  //Checks if li has sub (ul) and adds class for toggle icon - just an UI

	  $('.menu > ul > li > ul:not(:has(ul))').addClass('normal-sub');
	  //Checks if drodown menu's li elements have anothere level (ul), if not the dropdown is shown as regular dropdown, not a mega menu (thanks Luka Kladaric)

	  $(".menu > ul").before("<a href=\"#\" class=\"menu-mobile\">Navigation</a>");

	  //Adds menu-mobile class (for mobile toggle menu) before the normal menu
	  //Mobile menu is hidden if width is more then 959px, but normal menu is displayed
	  //Normal menu is hidden if width is below 959px, and jquery adds mobile menu
	  //Done this way so it can be used with wordpress without any trouble

	  $(".menu > ul > li").hover(function(e) {
	    if ($(window).width() > 943) {
	      $(this).children("ul").stop(true, false).fadeToggle(150);
	      e.preventDefault();
	    }
	  });
	  //If width is more than 943px dropdowns are displayed on hover

	  $(".menu > ul > li").click(function() {
	    if ($(window).width() <= 943) {
	      $(this).children("ul").fadeToggle(150);
	    }
	  });
	  //If width is less or equal to 943px dropdowns are displayed on click (thanks Aman Jain from stackoverflow)

	  $(".menu-mobile").click(function(e) {
	    $(".menu > ul").toggleClass('show-on-mobile');
	    e.preventDefault();
	  });
	  //when clicked on mobile-menu, normal menu is shown as a list, classic rwd menu story (thanks mwl from stackoverflow)

	});
	</script>
